<div class="container">
  <h1>Complete the form to add a new restaurant: </h1>
  <%= render "form", restaurant: @restaurant %>
  <br><br><br>
  <button> <%= link_to 'Cancel', restaurants_path  %></button>
</div>
